tsidp does not properly implement the OIDC spec (refresh_token)

### What is the issue?

Hello all,

I noticed that `tsidp` cannot be used with `immich` because it does not follow the [OIDC spec](https://openid.net/specs/openid-connect-core-1_0-errata2.html#TokenResponse), which references the [OAuth 2.0 spec](https://www.rfc-editor.org/rfc/inline-errata/rfc6749.html) (Section 5.1.). Since `tsidp` does not implement usage of a  `refresh_token` it sends an empty string, see https://github.com/tailscale/tailscale/blob/main/cmd/tsidp/tsidp.go#L798 for the JSON struct and https://github.com/tailscale/tailscale/blob/main/cmd/tsidp/tsidp.go#L784-L788 for not setting any value. 

According to the spec, the parameter is optional and should thus be completely omitted. The empty string becomes an issue, since `immich` uses `openid-client`, which uses `oauth4webapi` and this library added a check to its token parsing not long ago, see https://github.com/panva/oauth4webapi/blob/main/src/index.ts#L3442-L3446. This checks for the length of the token and throws an error if it is empty.

Now there are 2 ways forward:
1. `oauth4webapi` instead of just checking if the value is `undefined` should check if there is a non-zero length string.
2. `tsidp` does not send an empty `refresh_token`.

In my opinion, the option 2 is more in line with Section 5.1 of RFC 6749 and therefore a small change should be made to `tsidp`. I will provide a fix in a PR momentarily.

### Steps to reproduce

_No response_

### Are there any recent changes that introduced the issue?

_No response_

### OS

_No response_

### OS version

_No response_

### Tailscale version

1.84.0

### Other software

_No response_

### Bug report

_No response_