Email addresses are case sensitive

### What is the issue?

I sent out invites with email addresses all in lowercase.   The email address reported by Microsoft 365 login had the domain name capitalized, and the invites did not match when the users created their accounts.   [RFC 1035 section 3.1](https://www.rfc-editor.org/rfc/rfc1035) specifies this should be interpreted in a case-insensitive manner.  

### Steps to reproduce

Create an email invite that does not match the recipient's alpha case.  When they sign in, a new account will be created instead of attaching to the invite.  

### Are there any recent changes that introduced the issue?

No.

### OS

Other

### OS version

N/A

### Tailscale version

N/A

### Other software

N/A

### Bug report

_No response_

Hi!

I'm attempting to reproduce this behavior, but I'd like to double check what I have been able to reproduce is the issue you are seeing.

1. Use the `Send welcome email` or `Invite external users` functionality to send an invite to a user **on the same domain as the tailnet**, with the email inputted in lowercase only.
2. Have that user follow the flow to accept the invite, and have the identity provider return the email in capitals (fully or partially).
3. The invited user is able to join the tailnet, however the invite intended for their use does not get consumed resulting in a Users view similar to:

![image](https://github.com/tailscale/tailscale/assets/46385858/3b28e1f2-852f-4389-ab5c-e7f638666db8)

Does that align with your experience? If so, excellent - we can work on a fix. If it doesn't, could you provide some screenshots of what you are experiencing? Thanks!



This should be resolved now. Let us know if you continue to have an issue. 