Custom DERP Server Not working as expected.

### What is the issue?

- Approximately later today I researched DERP, due to intermittent blocking of Let's Encrypt in mainland China, I applied for an SSL certificate (one year) and then after configuring the environment I used these three commands:

```bash
export GOPROXY=https://proxy.golang.com.cn,direct
go install tailscale.com/cmd/derper@main
derper --certmode=manual --certdir=/root/relayderp --hostname=derp.example.com --verify-clients --a=:10000 --http-port=-1
```

- Note: The server deploying the DERP service was previously affected by the IaaS provider (they used the 100.x.y.z. subnet in the private network), so my previous startup command was `tailscale up --netfilter-mode=off`
    
![Untitled](https://user-images.githubusercontent.com/71839629/215819439-5a179a6e-a361-4237-a30b-c49e910dc2e8.png)
    
- The tailscale web service is running normally at this moment.

```bash
// Example/default ACLs for unrestricted connections.
{
	// Declare static groups of users beyond those in the identity service.
	"groups": {
		"group:example": ["user1@example.com", "user2@example.com"],
	},

	// Declare convenient hostname aliases to use in place of IP addresses.
	"hosts": {
		"example-host-1": "100.100.100.100",
	},

	// Access control lists.
	"acls": [
		// Match absolutely everything.
		// Comment this section out if you want to define specific restrictions.
		{"action": "accept", "users": ["*"], "ports": ["*:*"]},
	],
	"ssh": [
		// Allow all users to SSH into their own devices in check mode.
		// Comment this section out if you want to define specific restrictions.
		{
			"action": "check",
			"src":    ["autogroup:members"],
			"dst":    ["autogroup:self"],
			"users":  ["autogroup:nonroot", "root"],
		},
	],
	// ... other parts of ACL/Policy JSON
	"derpMap": {
		"OmitDefaultRegions": true, // ISSUE
		"Regions": {
			"900": {
				"RegionID":   900,
				"RegionCode": "RG",
				"RegionName": "REGION",
				"Nodes": [
					{
						"Name":     "CURTISASIA-DERP",
						"RegionID": 900,
						"HostName": "derp.example.com",
						"DERPPort": 10000,
						"STUNPort": 3478,
					},
				],
			},
		},
	},
}
```

- When I blocked all DERP servers from Tailscale official, that is this ACL: `"OmitDefaultRegions": true`, I found that the intranet services could be connected directly, but the public network could not (even if we were in the same city), so I checked the status of tailscale.

```bash
~  tailscale status                                                                                                                                             ok | 3s | curtis@archlinux-pve | 23:53:57
Warning: client version "1.36.0" != tailscaled server version "1.34.2"

100.xxx.xxx.xxx status
100.xxx.xxx.xxx status
100.xxx.xxx.xxx status
100.xxx.xxx.xxx status
100.xxx.xxx.xxx status

# Health check:
#     - not connected to home DERP region 900

# Funnel:
#     - Unable to get Funnel status: getting serve config: Access denied: serve config denied

~  tailscale ping curtisasia-server //ANOTHER SERVER                                                                                                                   ok | curtis@archlinux-pve | 23:55:02
Warning: client version "1.36.0" != tailscaled server version "1.34.2"
ping "100.76.xx.xx" timed out
ping "100.76.xx.xx" timed out
^C

~  tailscale netcheck                                                                                                                                         INT | 11s | curtis@archlinux-pve | 23:57:45
Warning: client version "1.36.0" != tailscaled server version "1.34.2"
2023/01/31 23:58:39 portmap: [v1] Got PMP response; IP: 192.168.1.103, epoch: 221814512
2023/01/31 23:58:39 portmap: [v1] Got PCP response: epoch: 221814512
2023/01/31 23:58:39 portmap: UPnP discovery response from 169.xxx.xxx.97, but gateway IP is 192.168.2.1
2023/01/31 23:58:39 portmap: [v1] UPnP reply {Location:http://192.168.3.1:1900/igd.xml Server:DELETED:1}, "DELETED"
2023/01/31 23:58:39 portmap: UPnP meta changed: {Location:http://192.168.3.1:1900/igd.xml Server:DELETED:1}

Report:
        * UDP: true
        * IPv4: yes, xxx.xxx.xxx.xxx:6968
        * IPv6: no, but OS has support
        * MappingVariesByDestIP:
        * HairPinning: false
        * PortMapping: UPnP, NAT-PMP, PCP
        * CaptivePortal: true
        * Nearest DERP: REGION
        * DERP latency:
                -  RG: 91.7ms  (REGION)

~  tailscale version (cilent)
1.36.0
  tailscale commit: ab998de9899da026e1a623a5973143f0d3ea52f7
  go version: go1.19.5

root@curtisasia-prod-services:~# tailscale version (server)
1.36.0
  tailscale commit: 96f6580381ac0c01122e77cff79f01baa678d6a4
  other commit: 49bd4454362e6e52fe8c86ad51b3734dd83d764c
  go version: go1.19.4-tsdc0ce6324d
```

- So, even though the DERP server exists within Tailscale and can detect latency, it is actually unavailable. Furthermore, the server has not received any request connections after it has been started.
- How should I solve this problem?

### Steps to reproduce

_No response_

### Are there any recent changes that introduced the issue?

_No response_

### OS

Linux

### OS version

Ubuntu 22.04

### Tailscale version

1.36.0

### Bug report

BUG-3b9dfdf09c3e7844be97700a9ae53685d013a957673af849875be6e1d7c7437a-20230131162513Z-1eb113082ac86f94

`Warning: client version "1.36.0" != tailscaled server version "1.34.2"`

This likely means that there are two `tailscale` or two `tailscaled` binaries installed. The Linux packages would not have done this, but if you've installed binaries manually somewhere then you can end up in this situation. `which tailscale` and `which tailscaled` can help.

--------

Around the time of the bugreport BUG-3b9dfdf09c3e7844be97700a9ae53685d013a957673af849875be6e1d7c7437a-20230131162513Z-1eb113082ac86f94 we see: `x509: certificate signed by unknown authority`

Whatever node that is, one of your client devices, does not know about the certificate authority which issued the certificate the DERP server is presenting. From the screenshot that certificate authority appears to be "TrustAsia RSA DV TLS CA G2"

We can't help with that, the client device needs to trust the certificate authority. TrustAsia likely has instructions of how to install their Root certificate. Installing it for use by the browser only isn't sufficient, the Tailscale app needs to be able to make TLS connections.

Thank you very much for your quick reply. It's too late here. I'll take a break first and come back tomorrow. A1: Maybe I installed curl installation and installed two. I'll check it tomorrow. A2: Trust Asia is a globally trusted certificate authority. I'm not sure why I don't trust it. This certificate is issued from CA, not self-issued.

**A1:**
> `which tailscaled`

I got **two** return values, which seem to be normal.
```shell
root@curtisasia-prod-services:~# which tailscale
/usr/bin/tailscale
root@curtisasia-prod-services:~# which tailscaled
/usr/sbin/tailscaled
```
------
**A2:**
> Around the time of the bugreport BUG-3b9dfdf09c3e7844be97700a9ae53685d013a957673af849875be6e1d7c7437a-20230131162513Z-1eb113082ac86f94 we see: x509: certificate signed by unknown authority

> Whatever node that is, one of your client devices, does not know about the certificate authority which issued the certificate the DERP server is presenting. From the screenshot that certificate authority appears to be "TrustAsia RSA DV TLS CA G2"

```shell
 ~ ❯ testssl.sh https://derp.example.com:10000                                                                                                                                                               

###########################################################
    testssl.sh       3.0.8 from https://testssl.sh/

      This program is free software. Distribution and
             modification under GPLv2 permitted.
      USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!

       Please file bugs @ https://testssl.sh/bugs/

###########################################################

 Using "OpenSSL 1.1.1s  1 Nov 2022" [~80 ciphers]
 on mac:/opt/homebrew/opt/openssl@1.1/bin/openssl
 (built: "Nov  1 12:36:10 2022", platform: "darwin64-arm64-cc")


 Start 2023-02-01 13:18:39        -->> 140.210.215.206:16191 (derp.example.com) <<--

 rDNS (140.210.215.206): IaaS rDNS
 Service detected:       HTTP


 Testing protocols via sockets except NPN+ALPN

 SSLv2      not offered (OK)
 SSLv3      not offered (OK)
 TLS 1      not offered
 TLS 1.1    not offered
 TLS 1.2    offered (OK)
 TLS 1.3    offered (OK): final
 NPN/SPDY   not offered
 ALPN/HTTP2 h2, http/1.1 (offered)

 Testing cipher categories

 NULL ciphers (no encryption)                  not offered (OK)
 Anonymous NULL Ciphers (no authentication)    not offered (OK)
 Export ciphers (w/o ADH+NULL)                 not offered (OK)
 LOW: 64 Bit + DES, RC[2,4] (w/o export)       not offered (OK)
 Triple DES Ciphers / IDEA                     offered
 Obsolete CBC ciphers (AES, ARIA etc.)         offered
 Strong encryption (AEAD ciphers)              offered (OK)


 Testing robust (perfect) forward secrecy, (P)FS -- omitting Null Authentication/Encryption, 3DES, RC4

 PFS is offered (OK)          TLS_AES_256_GCM_SHA384 TLS_CHACHA20_POLY1305_SHA256 ECDHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES256-SHA ECDHE-RSA-CHACHA20-POLY1305 TLS_AES_128_GCM_SHA256 ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES128-SHA
 Elliptic curves offered:     prime256v1 secp384r1 secp521r1 X25519


 Testing server preferences

 Has server cipher order?     yes (OK) -- only for < TLS 1.3
 Negotiated protocol          TLSv1.3
 Negotiated cipher            TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Cipher order
    TLSv1.2:   ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-CHACHA20-POLY1305 ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA AES128-GCM-SHA256 AES256-GCM-SHA384 AES128-SHA AES256-SHA ECDHE-RSA-DES-CBC3-SHA DES-CBC3-SHA


 Testing server defaults (Server Hello)

 TLS extensions (standard)    "session ticket/#35" "renegotiation info/#65281" "EC point formats/#11" "supported versions/#43" "key share/#51" "application layer protocol negotiation/#16"
 Session Ticket RFC 5077 hint 604800 seconds but: PFS requires session ticket keys to be rotated < daily !
 SSL Session ID support       yes
 Session Resumption           Tickets: yes, ID: yes
 TLS clock skew               Random values, no fingerprinting possible
 Signature Algorithm          SHA384 with RSA
 Server key size              RSA 2048 bits
 Server key usage             Digital Signature, Key Encipherment
 Server extended key usage    TLS Web Server Authentication, TLS Web Client Authentication
 Serial                       3BD77DE846F2990B21BA616C76F8F879 (OK: length 16)
 Fingerprints                 SHA1 DELETED
                              SHA256 DELETED
 Common Name (CN)             derp.example.com  (request w/o SNI didn't succeed)
 subjectAltName (SAN)         derp.example.com
 Issuer                       TrustAsia RSA DV TLS CA G2 (TrustAsia Technologies, Inc. from CN)
 Trust (hostname)             Ok via SAN (SNI mandatory)
 Chain of trust               NOT ok (chain incomplete)
 EV cert (experimental)       no
 ETS/"eTLS", visibility info  not present
 Certificate Validity (UTC)   364 >= 60 days (2023-01-31 00:00 --> 2024-01-31 23:59)
 # of certificates provided   2 (certificate list ordering problem)
 Certificate Revocation List  --
 OCSP URI                     http://ocsp.trust-provider.cn
 OCSP stapling                not offered
 OCSP must staple extension   --
 DNS CAA RR (experimental)    not offered
 Certificate Transparency     yes (certificate extension)


 Testing HTTP header response @ "/"

 HTTP Status Code             200 OK
 HTTP clock skew              0 sec from localtime
 Strict Transport Security    730 days=63072000 s, includeSubDomains
 Public Key Pinning           --
 Server banner                (no "Server" line in header, interesting!)
 Application banner           --
 Cookie(s)                    (none issued at "/")
 Security headers             Content-Security-Policy: default-src 'none'; frame-ancestors 'none'; form-action 'none'; base-uri 'self'; block-all-mixed-content; plugin-types 'none'
 Reverse Proxy banner         --


 Testing vulnerabilities

 Heartbleed (CVE-2014-0160)                not vulnerable (OK), no heartbeat extension
 CCS (CVE-2014-0224)                       not vulnerable (OK)
 Ticketbleed (CVE-2016-9244), experiment.  not vulnerable (OK), no session tickets
 ROBOT                                     not vulnerable (OK)
 Secure Renegotiation (RFC 5746)           OpenSSL handshake didn't succeed
 Secure Client-Initiated Renegotiation     not vulnerable (OK)
 CRIME, TLS (CVE-2012-4929)                not vulnerable (OK)
 BREACH (CVE-2013-3587)                    no HTTP compression (OK)  - only supplied "/" tested
 POODLE, SSL (CVE-2014-3566)               not vulnerable (OK), no SSLv3 support
 TLS_FALLBACK_SCSV (RFC 7507)              No fallback possible (OK), no protocol below TLS 1.2 offered
 SWEET32 (CVE-2016-2183, CVE-2016-6329)    VULNERABLE, uses 64 bit block ciphers
 FREAK (CVE-2015-0204)                     not vulnerable (OK)
 DROWN (CVE-2016-0800, CVE-2016-0703)      not vulnerable on this host and port (OK)
                                           make sure you don't use this certificate elsewhere with SSLv2 enabled services
                                           https://search.censys.io/search?resource=hosts&virtual_hosts=INCLUDE&q=E05580B4ECCC80D75D6F3C29F87633855609EF750E2B66D463B6CEF5BE8EEE60
 LOGJAM (CVE-2015-4000), experimental      not vulnerable (OK): no DH EXPORT ciphers, no DH key detected with <= TLS 1.2
 BEAST (CVE-2011-3389)                     not vulnerable (OK), no SSL3 or TLS1
 LUCKY13 (CVE-2013-0169), experimental     potentially VULNERABLE, uses cipher block chaining (CBC) ciphers with TLS. Check patches
 RC4 (CVE-2013-2566, CVE-2015-2808)        no RC4 ciphers detected (OK)


 Testing 370 ciphers via OpenSSL plus sockets against the server, ordered by encryption strength

Hexcode  Cipher Suite Name (OpenSSL)       KeyExch.   Encryption  Bits     Cipher Suite Name (IANA/RFC)
-----------------------------------------------------------------------------------------------------------------------------
 x1302   TLS_AES_256_GCM_SHA384            ECDH 253   AESGCM      256      TLS_AES_256_GCM_SHA384
 x1303   TLS_CHACHA20_POLY1305_SHA256      ECDH 253   ChaCha20    256      TLS_CHACHA20_POLY1305_SHA256
 xc030   ECDHE-RSA-AES256-GCM-SHA384       ECDH 253   AESGCM      256      TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
 xc014   ECDHE-RSA-AES256-SHA              ECDH 253   AES         256      TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
 xcca8   ECDHE-RSA-CHACHA20-POLY1305       ECDH 253   ChaCha20    256      TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
 x9d     AES256-GCM-SHA384                 RSA        AESGCM      256      TLS_RSA_WITH_AES_256_GCM_SHA384
 x35     AES256-SHA                        RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA
 x1301   TLS_AES_128_GCM_SHA256            ECDH 253   AESGCM      128      TLS_AES_128_GCM_SHA256
 xc02f   ECDHE-RSA-AES128-GCM-SHA256       ECDH 253   AESGCM      128      TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
 xc013   ECDHE-RSA-AES128-SHA              ECDH 253   AES         128      TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
 x9c     AES128-GCM-SHA256                 RSA        AESGCM      128      TLS_RSA_WITH_AES_128_GCM_SHA256
 x2f     AES128-SHA                        RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA
 xc012   ECDHE-RSA-DES-CBC3-SHA            ECDH 521   3DES        168      TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA
 x0a     DES-CBC3-SHA                      RSA        3DES        168      TLS_RSA_WITH_3DES_EDE_CBC_SHA


 Running client simulations (HTTP) via sockets

 Android 6.0                  TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 256 bit ECDH (P-256)
 Android 7.0 (native)         TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 256 bit ECDH (P-256)
 Android 8.1 (native)         TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 253 bit ECDH (X25519)
 Android 9.0 (native)         TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Android 10.0 (native)        TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Android 11 (native)          TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Android 12 (native)          TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Chrome 79 (Win 10)           TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Chrome 101 (Win 10)          TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Firefox 66 (Win 8.1/10)      TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Firefox 100 (Win 10)         TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 IE 6 XP                      No connection
 IE 8 Win 7                   No connection
 IE 8 XP                      No connection
 IE 11 Win 7                  TLSv1.2 ECDHE-RSA-AES128-SHA, 256 bit ECDH (P-256)
 IE 11 Win 8.1                TLSv1.2 ECDHE-RSA-AES128-SHA, 256 bit ECDH (P-256)
 IE 11 Win Phone 8.1          TLSv1.2 ECDHE-RSA-AES128-SHA, 256 bit ECDH (P-256)
 IE 11 Win 10                 TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 256 bit ECDH (P-256)
 Edge 15 Win 10               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 253 bit ECDH (X25519)
 Edge 101 Win 10 21H2         TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Safari 12.1 (iOS 12.2)       TLSv1.3 TLS_CHACHA20_POLY1305_SHA256, 253 bit ECDH (X25519)
 Safari 13.0 (macOS 10.14.6)  TLSv1.3 TLS_CHACHA20_POLY1305_SHA256, 253 bit ECDH (X25519)
 Safari 15.4 (macOS 12.3.1)   TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Java 7u25                    No connection
 Java 8u161                   TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 256 bit ECDH (P-256)
 Java 11.0.2 (OpenJDK)        TLSv1.3 TLS_AES_128_GCM_SHA256, 256 bit ECDH (P-256)
 Java 17.0.3 (OpenJDK)        TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 go 1.17.8                    TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 LibreSSL 2.8.3 (Apple)       TLSv1.2 ECDHE-RSA-CHACHA20-POLY1305, 253 bit ECDH (X25519)
 OpenSSL 1.0.2e               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 256 bit ECDH (P-256)
 OpenSSL 1.1.0l (Debian)      TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 253 bit ECDH (X25519)
 OpenSSL 1.1.1d (Debian)      TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 OpenSSL 3.0.3 (git)          TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)
 Apple Mail (16.0)            TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 256 bit ECDH (P-256)
 Thunderbird (91.9)           TLSv1.3 TLS_AES_128_GCM_SHA256, 253 bit ECDH (X25519)

 Done 2023-02-01 13:21:28 [0171s] -->> 140.210.215.206:16191 (derp.example.com) <<--
```

------

- I got two return values, which seem to be normal.
- Thank you very much for your reminder, it seems that the certificate chain issue caused the untrusted CA. A2 I will try to fix it.
- Additionally, can u need to confirm with you that the tailscale server refers to the DERP Server? Because when I tried to search for tailscale/tailscaled in the DERP Server, here is the result.

```shell
root@curtisasia-prod-services:~# which tailscale
/usr/bin/tailscale
root@curtisasia-prod-services:~# which tailscaled
/usr/sbin/tailscaled
```

> Additionally, can u confirm with the tailscale server refers to the DERP Server? Because when I tried to search for tailscale/tailscaled in the DERP Server, here is the result.

`tailscaled` is the VPN client, `tailscale` is the CLI. Neither one is the DERP server; you must have compiled the `derper` binary from source somewhere.

The following health check you've been seeing:
```
~  tailscale status
Warning: client version "1.36.0" != tailscaled server version "1.34.2"
```
means that the `tailscaled` and `tailscale` binaries are two different versions. The RPM and deb packages won't do this, they will install both binaries from the same version. Somewhere along the way, you presumably installed binaries downloaded some other way or installed them in a different location.

----

> Thank you very much for your reminder, it seems that the certificate chain issue caused the untrusted CA

I believe this is the root cause to focus on. With all of the default regions removed and only the custom DERP server left, and the custom DERP server having a certificate which doesn't validate, you end up being unable to connect to anything.

Your willingness to help is truly appreciated 💙
#7126 was solved.

facing the same problem, how to fix CA issue?

You need to use a Certificate Authority with a root certificate which is installed on your system.
- for Linux that is `/etc/ssl/certs`
- for macOS that would be in the System Keychain
- for Windows that would be in the system Certstore

We are not going to be able to help with this.

> You need to use a Certificate Authority with a root certificate which is installed on your system.
> 
> * for Linux that is `/etc/ssl/certs`
> * for macOS that would be in the System Keychain
> * for Windows that would be in the system Certstore
> 
> We are not going to be able to help with this.

I use TrustAisa ECC DV cert and I can correctly access derper in the browser in Windows OS.