Fragmented IPv6 packages are dropped

### What is the issue?

I'm having a problem with dropped UDP packages when using IPv6 tailnet addresses:

IPv6 packages that don't fit into Tailscales MTU will be fragmented by the sender. This is handled differently in IPv6, compared to IPv4. Here are the relevant parts from [RFC 8200 Section 4,5](https://www.rfc-editor.org/rfc/rfc8200#section-4.5):

> The Fragment header is used by an IPv6 source to send a packet larger
   than would fit in the path MTU to its destination.  (Note: unlike
   IPv4, fragmentation in IPv6 is performed only by source nodes, not by
   routers along a packet's delivery path -- see [Section 5](https://www.rfc-editor.org/rfc/rfc8200#section-5).)  The
   Fragment header is identified by a Next Header value of 44 in the
   immediately preceding header [...]

And from [Section 5](https://www.rfc-editor.org/rfc/rfc8200#section-5):

> In order to send a packet larger than a path's MTU, a node may use
   the IPv6 Fragment header to fragment the packet at the source and
   have it reassembled at the destination(s).  However, the use of such
   fragmentation is discouraged in any application that is able to
   adjust its packets to fit the measured path MTU (i.e., down to 1280
   octets).

> A node must be able to accept a fragmented packet that, after
   reassembly, is as large as 1500 octets.  A node is permitted to
   accept fragmented packets that reassemble to more than 1500 octets.
   An upper-layer protocol or application that depends on IPv6
   fragmentation to send packets larger than the MTU of a path should
   not send packets larger than 1500 octets unless it has assurance that
   the destination is capable of reassembling packets of that larger
   size.

To summarize: a "next header" value of 44 is expected for packages that are correctly fragmented by the sender and must be handled by the receiver.

When I receive such a packet, it is dropped by tailscale, even though the package size (after fragmentation) is within the allowed MTU:
```
tailscaled[1604]: 2026/02/25 01:37:11 Drop: IPProto-44{[fd7a:115c:a1e0:...:7083]:43657 > [fd7a:115c:a1e0:...:918]:10001} 1280 unknown-protocol-44
tailscaled[1604]: 2026/02/25 01:37:11 Drop: IPProto-44{[fd7a:115c:a1e0:...:7083]:43657 > [fd7a:115c:a1e0:...:918]:10001} 57 unknown-protocol-44
```

The error message clearly indicates, that protocol `44` isn't understood. Since this is normal IPv6 metainformation about package fragmentation the package shouldn't be dropped and the header should to be passed to the receiving IPv6 stack instead.

### Steps to reproduce

To reproduce you can ping a tailscale node with an increasing package size:

Without fragmentation:
```
$ ping -s 1232 heart-of-gold
PING heart-of-gold (fd7a:115c:a1e0:...:918) 1232 data bytes
1240 bytes from heart-of-gold (fd7a:115c:a1e0:...:918): icmp_seq=1 ttl=64 time=5.33 ms
```

With fragmentation:
```
$ ping -s 1233 heart-of-gold
PING heart-of-gold (fd7a:115c:a1e0:...:918) 1233 data bytes
^C
--- heart-of-gold ping statistics ---
2 packets transmitted, 0 received, 100% packet loss, time 1003ms
```
This results in the `Drop: IPProto-44[...]`-messages shown above.



Another example is KDE Connect, which (I think) uses an UDP discovery message (the discovery usually happens via broadcast, but can be explicitly set to use unicast, which I have done):
```
tailscaled[1604]: 2026/02/25 02:03:58 Drop: IPProto-44{[fd7a:115c:a1e0::...:5736]:43657 > [fd7a:115c:a1e0:...:918]:10003} 1280 unknown-protocol-44
tailscaled[1604]: 2026/02/25 02:03:58 Drop: IPProto-44{[fd7a:115c:a1e0::...:5736]:43657 > [fd7a:115c:a1e0:...:918]:10003} 543 unknown-protocol-44
```

### Are there any recent changes that introduced the issue?

_No response_

### OS

Linux

### OS version

_No response_

### Tailscale version

1.94.2

### Other software

_No response_

### Bug report

_No response_

This is currently a limitation of our packet filter path (https://github.com/tailscale/tailscale/blob/main/net/packet/packet.go) and until we have a more sophisticated mechanism for reconstruction before verdict we can't handle this. It falls into a catagory of things we want to improve, but it is unlikely to be super soon.

Can you describe more about the surrounding use case, it is unusual for this to be a problem as normally an application would want to adjust IPv6 packet sizes to the MTU. Routers often drop fragments in IPv6.

This is also potentially related to https://github.com/tailscale/tailscale/issues/9480 which describes a (potentially easier) desire to implement ICMP PTB responses for this case.